# Secrets
.env
*.env
*.pem
*.key
credentials
credentials.json

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Python
__pycache__/
*.pyc
.venv/
venv/
*.sqlite3

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Kubernetes secrets
*.secret.yaml
